---
import {loadComponents} from '../lib/load-components.ts'
import {parseComponent} from '../lib/parse-component.ts'
import Base from '../layouts/Base.astro'
import { Markdown } from 'astro/components';

export async function createCollection() {
  const components = await loadComponents()

  return {
    route: `/components/:name`,
    paths() {
      return components.map((component, i) => ({ 
          params: { 
            name: component.name.toLowerCase()
          }
      }));
    },
    async props({ params }) {
      const component = components.find((component) => component.name.toLowerCase() === params.name.toLowerCase()) 
      return { 
        ...component,
        docs: parseComponent(component.path)[0] ?? { props: {}, description: ''}
      };
    },
  };
}

const { name, docs } = Astro.props;

const hasDescription = Object.keys(docs.props).some((name: string) => !!docs.props?.[name]?.description);

const sortedProps = Object.keys(docs.props)
  .map(key => docs.props[key])
  .sort((a, b) => {
    if (a.required) { return -1 }
    if (b.required) { return 1 }

    return a.name < b.name ? -1 : 1
  })
---
  
<Base>
  <title slot="header">solid-phaser | {name}</title>
  <h1>{name}</h1>
  <Markdown content={docs.description || '&nbsp;'} />
  <h2>Props</h2>
  <div class="overflow-x-scroll">
    <table>
      <thead>
        <tr>
          <th class="sticky left-0 z-10 bg-white dark:bg-gray-900">Name</th>
          <th>Type</th>
          <th>Default</th>

          {hasDescription && <th>Description</th>}
        </tr>
      </thead>

      <tbody>      
        {sortedProps.map((prop) => {
            const defaultValue = prop.defaultValue?.value            
            const types = prop.type.name.split('|')

            return (
              <tr>
                <td class="sticky left-0 bottom-0 z-10 bg-white dark:bg-gray-900 font-medium text-gray-900 dark:text-gray-200">{prop.name}{prop.required ? '*' : ''}</td>
                <td class="max-w-sm overflow-hidden">
                  <div class="flex flex-wrap gap-1">
                    {types.map(type => <code>{type}</code>)}
                  </div>
                </td>
                <td>
                  {defaultValue === "''" ? (
                    <em>[Empty String]</em>
                  ) : (
                    defaultValue
                  )}
                </td>
                {hasDescription && (
                  <td>
                    {prop.description && (
                      <>
                        <Markdown content={prop.description}/>
                      </>
                    )}
                  </td>
                )}
              </tr>
            );
          })}
      </tbody>
    </table>
  </div>
</Base>

<style>
  table {
    margin-top: 0;
  }
  td p {
    white-space: pre-wrap;
    margin: 0
  }
  th {
    @apply font-medium;
  }
</style>