---
import { loadComponents } from '../lib/load-components.ts'
import GitHub from './Github.tsx'
import ThemeToggle from './ThemeToggle.tsx'

const currentPage = Astro.request.url.pathname

const sidebar = [
  {
    text: "Getting Started",
    children: [
      { text: "Intro", link: "" },
    ],
  },
  {
    text: 'Components',
    children: await loadComponents().then(res => res.map(component => ({
      text: component.name,
      link: `components/${component.name.toLowerCase()}`
    })))
  }
];
---

<div class="hidden md:flex md:flex-shrink-0 h-screen sticky top-0">
  <div class="w-64 flex flex-col">
    <div class="border-r border-gray-200 dark:border-gray-800 py-4 flex flex-col flex-grow overflow-y-auto">
      <div class="flex-grow flex flex-col">
        <nav class="flex-1 bg-white dark:bg-gray-900 px-4 space-y-1">
          <div class="flex justify-between">
            <GitHub />
            <ThemeToggle client:idle/>
          </div>
          <ul class="space-y-4">
            {sidebar.map(category => (
              <li>
                <div class="group">
                  <h4 class="pb-2 font-medium text-lg"> 
                      {category.text}
                  </h4>
                  <ul class="pl-2 space-y-1">
                    {category.children.map(child => (
                      <li>
                        <a href={`${Astro.site}${child.link}`} data-active={currentPage === `/${child.link}`}>
                        {child.text}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              </li>
            ))}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<style>
  a {
    @apply text-gray-700 dark:text-gray-400 rounded-md py-1 px-2 flex items-center font-medium;
  }

  a:not([data-active]):hover {
    @apply bg-gray-200 dark:bg-gray-800
  }

  a[data-active]{
    @apply text-gray-900 bg-gray-300 dark:text-gray-200 dark:bg-gray-700;
  }

  h4 {
    @apply text-gray-800 dark:text-gray-200;
  }
</style>